@page
@model RazorPagesDemo.Pages.RollDiceModel
@{
}
<h1 style="background-color:black; color:white">Six-Sided Dice Roll Simulator</h1>
<img src="@Model.DiceFaceImage" alt="Dice Image" width="200px" height="200px"/>

<form method="post">
    <button type="submit" class="btn btn-outline-dark">Roll Dice</button>
</form>